@page "/ActiveTablets"
@inject IJSRuntime JSRuntime

<style>
    .Card-Job {
        height: 10%; width: 99%;justify-content: center;align-items: center;background-color: #9d919d;border-radius: 0;
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 95% 0);
    }
    .flex-row:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2)!important;
        cursor:pointer!important;
    }
    .VehicleActive{
        border:1px solid #9b8080;
    }
</style>

<MudGrid Style="width: calc(100% + 56px);">
    <div class="row" style="display: flex; flex-direction: row; width: 100%;">
        <MudItem id="" xs="12" sm="3" md="2" Style="overflow-y: auto; height: calc(100vh - 72px);padding-right:12px;">
            <MudPaper Elevation="40"  Class="@vehicleCardClass[0]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; border-radius: 0;" @onclick="_ => ToggleClass(0)">
                <span style="height: 100%; width: 20%;background-color: #e92424
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">23543</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Responding</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[1]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(1)">
                <span style="height: 100%; width: 20%;background-color: #e92424
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">3452</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Responding</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[2]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(2)">
                <span style="height: 100%; width: 20%;background-color: #3fb127
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">67854</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Available</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[3]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(3)">
                <span style="height: 100%; width: 20%; background-color: rgb(21, 203, 157);
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">34512</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">At Scene</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[4]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(4)">
                <span style="height: 100%; width: 20%;background-color: rgb(41, 121, 255);
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">34908</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">At Destination</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[5]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(5)">
                <span style="height: 100%; width: 20%;background-color: rgb(255, 145, 0);
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">34908</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Transport</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[6]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(6)">
                <span style="height: 100%; width: 20%;background-color: #7c6e7c
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">45455</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Off Duty</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[7]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(7)">
                <span style="height: 100%; width: 20%;background-color: #7c6e7c
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">45455</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Off Duty</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[8]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(8)">
                <span style="height: 100%; width: 20%;background-color: #7c6e7c
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">45455</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Off Duty</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[9]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(9)">
                <span style="height: 100%; width: 20%;background-color: #7c6e7c
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">45455</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Off Duty</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[10]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(10)">
                <span style="height: 100%; width: 20%;background-color: #7c6e7c
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">45455</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Off Duty</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[11]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(11)">
                <span style="height: 100%; width: 20%;background-color: #7c6e7c
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">45455</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Off Duty</MudText>
                    </div>
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Class="@vehicleCardClass[12]" Style="height: 85px; padding-top: 0; display: flex; justify-content: flex-start; margin-top: 10px; border-radius: 0;" @onclick="_ => ToggleClass(12)">
                <span style="height: 100%; width: 20%;background-color: #7c6e7c
                         "><MudIcon Icon="@Icons.Material.Filled.LocalShipping" Class="mudIcon mx-4" Style="width: 25px; height: 85px;fill:aliceblue;"></MudIcon></span>
                
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-right: 10px; padding-left: 10px;">
                    <MudText Typo="Typo.subtitle1" Style="Color:#263238;font-weight: bold">55675</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">03/01/2023 00:30 - 12:00</MudText>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudText Typo="Typo.subtitle1" Style="Color:#455A64;font-weight: 500;">Status:</MudText>
                        <MudText Style="margin-left:5px;" Class="mud-text-secondary">Off Duty</MudText>
                    </div>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="8" Style="height: calc(100vh - 72px);">
            <div id="map" style="height:98%;width:99%; position: relative;">
            </div>
        </MudItem>
        <MudItem xs="12" sm="3" md="2" Style="height: calc(100vh - 72px); display: flex; flex-direction: column;justify-content: space-evenly;align-items: center;">
            <MudPaper Elevation="25" Class="d-flex flex-column" Style="height: 19%; width: 99%;border-radius: 0;border-left-width:thin;">
@*                <div style="display: flex; flex-direction: row; position: relative; top: 10px;">
                    <MudIcon Icon="@Icons.Material.Filled.Boy" Class="mudIcon mx-4" Color="Color.Info" Style="width: 45px; height: 45px;"></MudIcon>
                    <div style="display: flex; flex-direction: column;">
                        <MudText Typo="Typo.subtitle1" Style="Color: #263238; font-weight: bold">Usama Shahid</MudText>
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                            <MudText Typo="Typo.subtitle1" Style="Color: #455A64; font-weight: 500;">Status:</MudText>
                            <MudText Style="margin-left: 5px;" Class="mud-text-secondary">Attending Patient</MudText>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; position: relative; top: 20px;">
                    <MudIcon Icon="@Icons.Material.Filled.Boy" Class="mudIcon mx-4" Color="Color.Info" Style="width: 45px; height: 45px;"></MudIcon>
                    <div style="display: flex; flex-direction: column;">
                        <MudText Typo="Typo.subtitle1" Style="Color: #263238; font-weight: bold">Muhammad Shahid</MudText>
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
                            <MudText Typo="Typo.subtitle1" Style="Color: #455A64; font-weight: 500;">Status:</MudText>
                            <MudText Style="margin-left: 5px;" Class="mud-text-secondary">Available</MudText>
                        </div>
                    </div>
                </div>*@
                <MudList Clickable="true">
                    <MudListItem>   <div style="display: flex; flex-direction: row;">
                        <MudIcon Icon="@Icons.Material.Filled.Boy" Class="mudIcon mx-4" Color="Color.Info" Style="width: 45px; height: 45px;"></MudIcon>
                        <div style="display: flex; flex-direction: column;">
                            <MudText Typo="Typo.subtitle1" Style="Color: #263238; font-weight: bold">Usama Shahid</MudText>
                            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
                                <MudText Typo="Typo.subtitle1" Style="Color: #455A64; font-weight: normal;">EMT</MudText>
                                @*<MudText Style="margin-left: 5px;" Class="mud-text-secondary">EMT</MudText>*@
                            </div>
                        </div>
                    </div>                </MudListItem>
                    <MudDivider />
                    <MudListItem>    <div style="display: flex; flex-direction: row; ">
                        <MudIcon Icon="@Icons.Material.Filled.Boy" Class="mudIcon mx-4" Color="Color.Info" Style="width: 45px; height: 45px;"></MudIcon>
                        <div style="display: flex; flex-direction: column;">
                            <MudText Typo="Typo.subtitle1" Style="Color: #263238; font-weight: bold">Usama Shahid</MudText>
                            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
                                <MudText Typo="Typo.subtitle1" Style="Color: #455A64; font-weight: normal">GUEST</MudText>
                                @*<MudText Style="margin-left: 5px;" Class="mud-text-secondary">Guest</MudText>*@
                            </div>
                        </div>
                    </div>                </MudListItem>
                </MudList>
            </MudPaper>
            <div style="height: 8%; width: 99%; display: flex; flex-direction: row;">
                <MudPaper Elevation="25" Class="d-flex flex-column" Style="height: 100%; width: 99%;border-radius: 0;border-left-width:thin;">
                    <div style="display: flex; flex-direction: row; position: relative; top: 10px; align-items: center;justify-content: center">
                        <MudIcon Icon="@Icons.Material.Filled.Battery3Bar" Class="mudIcon" Color="Color.Success" Style="width: 45px; height: 45px;"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="Color: #263238; font-weight: 500;">50%</MudText>
                    </div>
                </MudPaper>
                <MudPaper Elevation="25" Class="d-flex flex-column" Style="height: 100%; width: 99%; margin-left: 6%;border-radius: 0;border-left-width:thin;">
                    <div style="display: flex; flex-direction: row; position: relative; top: 10px; align-items: center;justify-content: center">
                        <MudIcon Icon="@Icons.Material.Filled.Sync" Class="mudIcon" Color="Color.Error" Style="width: 45px; height: 45px;"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="Color: #263238; font-weight: 500;">Offline</MudText>
                    </div>
                </MudPaper>
            </div >
            <MudPaper Elevation="25" Class="d-flex flex-column Card-Job" Style="">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;color:#fff;">JOB</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;color:#fff;">10897</MudText>
            </MudPaper>
            <MudPaper Elevation="25" Class="d-flex flex-column" Style="height: 10%;width:99%;justify-content: center;align-items: center;background-color:#e90f3b;border-radius: 0;clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 95% 0);">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;color:#fff;">PRIORITY</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;color:#fff;">P1</MudText>
            </MudPaper>
            <MudPaper Elevation="25" Class="d-flex flex-column" Style="height: 10%;width:99%;justify-content: center;align-items: center;background-color: #3fb127;border-radius: 0;clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 95% 0);">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;color:#fff;">LAST STATUS</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;color:#fff;">03/01/2023 10:23</MudText>
            </MudPaper>
            <MudPaper Elevation="25" Class="d-flex flex-column" Style="height: 10%;width:99%;justify-content: center;align-items: center;background-color: rgb(41, 121, 255);border-radius: 0;clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 95% 0);">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;color:#fff;">DESTINATION</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;color:#fff;">Burjeel Hospital</MudText>
            </MudPaper>
            <MudPaper Elevation="25" Class="d-flex flex-column" Style="height: 10%;width:99%;justify-content: center;align-items: center;background-color: rgb(255, 196, 0);border-radius: 0;clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 95% 0);">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;color:#fff;">CASE TYPE</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;color:#fff;">ACC</MudText>
            </MudPaper>
            <MudPaper Elevation="25" Class="d-flex flex-column" Style="height: 10%;width:99%;justify-content: center;align-items: center;background-color: rgb(255, 145, 0);border-radius: 0;clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 95% 0);">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;color:#fff;">VITALS</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;color:#fff;"></MudText>
            </MudPaper>
        </MudItem>
    </div>

</MudGrid>
@code {
    string[] vehicleCardClass = new string[13];

    protected override async Task OnInitializedAsync()
    {
        ClearActiveClassAll();
        vehicleCardClass[0] = "d-flex flex-row VehicleActive";
    }

    protected void ToggleClass(int i)
    {
        ClearActiveClassAll();
        ClearActiveClassIndex(i);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initialize", null);
            StateHasChanged();
        }

    }

    private void ClearActiveClassAll()
    {
        for (int i = 0; i < vehicleCardClass.Length; i++)
            vehicleCardClass[i] = "d-flex flex-row";
    }

    private void ClearActiveClassIndex(int index)
    {
        if (vehicleCardClass[index].Contains("VehicleActive"))
        {
            vehicleCardClass[index] = "d-flex flex-row";
        }
        else
        {
            vehicleCardClass[index] = "d-flex flex-row VehicleActive";
        }
    }
}
