@page "/dashboard"
@inject IJSRuntime JSRuntime

<style>
    #barchart {
        height:300px!important;
    }
</style>
<MudGrid Style="width:calc(100% + 56px);">

    <MudItem xs="12" sm="6" md="3" >
        <MudPaper Elevation="25" Class="d-flex flex-row" Style="height:70px;padding-top:7px;display:flex;justify-content:space-between;">
            @*<MudIcon Icon="@Icons.Material.Filled.ViewCarousel" Color="Color.Primary" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>*@
            <MudImage Class="mx-4" Src="/images/ambnew.png" Style="height:40px;width:70px;margin-top:5px;"></MudImage>
            <div style="display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-end;padding-right:10px;">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;">Total Vehicles</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;">334</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row" Style="height:70px;padding-top:7px;display:flex;justify-content:space-between;">
            @*<MudIcon Icon="@Icons.Material.Filled.Assignment" Color="Color.Error" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>*@
            <MudImage Class="mx-4" Src="/images/ambulance responding.png" Style="height:40px;width:70px;margin-top:7px;"></MudImage>
            <div style="display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-end;padding-right:10px;">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;">Responding</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;">25</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row" Style="height:70px;padding-top:7px;display:flex;justify-content:space-between;">
            @*<MudIcon Icon="@Icons.Material.Filled.Face" Color="Color.Success" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>*@
            <MudImage Class="mx-4" Src="/images/patient.png" Style="height:45px;width:45px;margin-top:5px;"></MudImage>
            <div style="display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-end;padding-right:10px;">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;">At Scene</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;">21</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row" Style="height:70px;padding-top:7px;display:flex;justify-content:space-between;">
            @*<MudIcon Icon="@Icons.Material.Filled.Groups" Color="Color.Warning" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>*@
            <MudImage Class="mx-4" Src="/images/hospital.png" Style="height:50px;width:50px;margin-top:5px;"></MudImage>
            <div style="display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-end;padding-right:10px;">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;">At Destination</MudText>
                <MudText Typo="Typo.h5" Style="font-weight:bold;">50</MudText>
            </div>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="6" md="3">

        <MudPaper Elevation="25" Class="pa-2" Style="height: calc(100vh - 195px)">
            <div class="row" style="display:flex;">
                <MudItem xs="12" sm="6" md="6">
                    <MudChart ChartType="ChartType.Donut" Width="180px" Height="180px" @bind-SelectedIndex="Index" InputData="@data" ChartOptions="@options">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="40%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="3" font-weight="normal">Abu Dhabi</text>
                            <text class="donut-inner-text" x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5" font-weight="bold">@data.Sum().ToString()</text>
                        </CustomGraphics>
                    </MudChart>
                </MudItem>
                <MudItem xs="12" sm="6" md="6">
                    <MudChart ChartType="ChartType.Donut" Width="180px" Height="180px" @bind-SelectedIndex="Index" InputData="@data" ChartOptions="@options">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="40%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="3" font-weight="normal">Al Ain</text>
                            <text class="donut-inner-text" x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5" font-weight="bold">@data.Sum().ToString()</text>
                        </CustomGraphics>
                    </MudChart>
                </MudItem>
            </div>
            <div class="row" style="display:flex;">
                <MudItem xs="12" sm="6" md="6">
                    <MudChart ChartType="ChartType.Donut" Width="180px" Height="180px" @bind-SelectedIndex="Index" InputData="@data" ChartOptions="@options">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="40%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="3" font-weight="normal">Shahama</text>
                            <text class="donut-inner-text" x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5" font-weight="bold">@data.Sum().ToString()</text>
                        </CustomGraphics>
                    </MudChart>
                </MudItem>
                <MudItem xs="12" sm="6" md="6">
                    <MudChart ChartType="ChartType.Donut" Width="180px" Height="180px" @bind-SelectedIndex="Index" InputData="@data" ChartOptions="@options">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="40%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="3" font-weight="normal">Abu Dhabi</text>
                            <text class="donut-inner-text" x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5" font-weight="bold">@data.Sum().ToString()</text>
                        </CustomGraphics>
                    </MudChart>
                </MudItem>
            </div>
            <div class="row" style="display:flex;">
                <MudItem xs="12" sm="6" md="6">
                    <MudChart ChartType="ChartType.Donut" Width="180px" Height="180px" @bind-SelectedIndex="Index" InputData="@data" ChartOptions="@options">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="40%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="3" font-weight="normal">Shahama</text>
                            <text class="donut-inner-text" x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5" font-weight="bold">@data.Sum().ToString()</text>
                        </CustomGraphics>
                    </MudChart>
                </MudItem>
                <MudItem xs="12" sm="6" md="6">
                    <MudChart ChartType="ChartType.Donut" Width="180px" Height="180px" @bind-SelectedIndex="Index" InputData="@data" ChartOptions="@options">
                        <CustomGraphics>
                            <text class="donut-inner-text" x="50%" y="40%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="3" font-weight="normal">Total</text>
                            <text class="donut-inner-text" x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5" font-weight="bold">@data.Sum().ToString()</text>
                        </CustomGraphics>
                    </MudChart>
                </MudItem>
            </div>
            <div class="row" style="display:flex;flex-direction:column;">
                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="25" Class="d-flex flex-column" Style="height:80px;padding-top:7px;position:relative;top:20px;margin-right:10px;margin-left:10px;justify-content:center;align-items:center;background-color:#3292ff;">
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;color:#fff;">Average Response Time (Minutes)</MudText>
                        <MudText Typo="Typo.h5" Style="font-weight:bold;color:#fff;">10.2</MudText>
                    </MudPaper>
                </MudItem>
                                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="25" Class="d-flex flex-column" Style="height:80px;padding-top:7px;position:relative;top:40px;margin-right:10px;margin-left:10px;justify-content:center;align-items:center;background-color:#eace5d;">
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1" Style="font-weight:500;color:#fff;">Average Time Spent on Scene (Minutes)</MudText>
                        <MudText Typo="Typo.h5" Style="font-weight:bold;color:#fff;">14.8</MudText>
                    </MudPaper>
                </MudItem>
            </div>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="pa-4" Style="height: calc(100vh - 195px)">
        <MudDataGrid Items="@ElementsNew" Dense="true" Style="height:50%;overflow:auto;">
            <Columns>
                <Column T="ElementNew" Field="Number" Title="Nr" Hidden />
                <Column T="ElementNew" CellStyleFunc="@_cellStyleFunc2" Sortable="false" Filterable="false" />
                <Column T="ElementNew" Field="Priority" Title="Priority" Sortable="true" Filterable="false" />
                <Column T="ElementNew" Field="Vehicles" Title="Vehicles" Sortable="true" Filterable="false" />
            </Columns>
        </MudDataGrid>
            <MudDataGrid Items="@Elements" Dense="true" Style="height:48%;margin-top:15px;overflow:auto;">
                <Columns>
                    <Column T="Element" Field="Number" Title="Nr" Hidden />
                    <Column T="Element" CellStyleFunc="@_cellStyleFunc1" Sortable="false" Filterable="false" />
                    <Column T="Element" Field="Total" Title="Total" Sortable="true" Filterable="false" />
                    <Column T="Element" Field="Percentage" Title="Percentage" Sortable="true" Filterable="false" />
                </Columns>
            </MudDataGrid>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="8" md="6">
        <MudPaper Elevation="25" Class="d-flex flex-column pt-6 pb-4 pl-4" Style="height: calc(100vh - 195px);">
            <div id="map" style="height:56%;width:99%;">
            </div>
            <MudPaper Elevation="25" Class="pa-4" Height="43%" Style="margin-top:10px;margin-right:10px;">
                <MudChart id="barchart" ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" YAxisLabels="YAxisLabels" Width="100%" ></MudChart>
            </MudPaper>
        </MudPaper>
    </MudItem>

@*    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="pa-4" Style="height:200px;">
            <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" @bind-SelectedIndex="Index" InputData="@data" ChartOptions="@options"></MudChart>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="8" md="6">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4 pl-4" Style="height:200px;justify-content:space-evenly;">


        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudDataGrid Items="@ElementsNew.Take(4)" Dense="true">
            <Columns>
                <Column T="ElementNew" Field="Number" Title="Nr" Hidden />
                <Column T="ElementNew" CellStyleFunc="@_cellStyleFunc2" Sortable="false" Filterable="false" />
                <Column T="ElementNew" Field="Priority" Title="Priority" Sortable="true" Filterable="false" />
                <Column T="ElementNew" Field="Vehicles" Title="Vehicles" Sortable="true" Filterable="false" />
            </Columns>
        </MudDataGrid>
    </MudItem>

    <MudItem xs="12" sm="6" md="3">
        <MudDataGrid Items="@Elements.Take(4)" Dense="true">
            <Columns>
                <Column T="Element" Field="Number" Title="Nr" Hidden />
                <Column T="Element" CellStyleFunc="@_cellStyleFunc1" Sortable="false" Filterable="false" />
                <Column T="Element" Field="Total" Title="Total" Sortable="true" Filterable="false" />
                <Column T="Element" Field="Percentage" Title="Percentage" Sortable="true" Filterable="false" />
            </Columns>
        </MudDataGrid>
    </MudItem>
    <MudItem xs="12" sm="8" md="6">
        <MudPaper Elevation="25" Class="pa-4">
            <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" YAxisLabels="YAxisLabels" Width="100%"></MudChart>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudDataGrid Items="@Elements.Take(4)" Dense="true">
            <Columns>
                <Column T="Element" Field="Number" Title="Nr" Hidden />
                <Column T="Element" CellStyleFunc="@_cellStyleFunc1" Sortable="false" Filterable="false" />
                <Column T="Element" Field="Total" Title="Total" Sortable="true" Filterable="false" />
                <Column T="Element" Field="Percentage" Title="Percentage" Sortable="true" Filterable="false" />
            </Columns>
        </MudDataGrid>
    </MudItem>*@

</MudGrid>


@code {
    private IList<Element> Elements = new List<Element>();
    private IList<ElementNew> ElementsNew = new List<ElementNew>();

    private int Index = -1; 
    int dataSize = 4;
    public double[] data = { 50, 25, 20, 5 };

    private Func<Element, string> _cellStyleFunc1 => x =>
    {
        string style = "";

        if (x.Number == 1)
            style += "background-color:#8CED8C";

        else if (x.Number == 2)
            style += "background-color:#E5BDE5";

        else if (x.Number == 3)
            style += "background-color:#EACE5D";

        else if (x.Number == 4)
            style += "background-color:#F1F165";

        return style;
    };

    private Func<ElementNew, string> _cellStyleFunc2 => x =>
    {
        string style = "";

        if (x.Number == 1)
            style += "background-color:#8CED8C";

        else if (x.Number == 2)
            style += "background-color:#E5BDE5";

        else if (x.Number == 3)
            style += "background-color:#EACE5D";

        else if (x.Number == 4)
            style += "background-color:#F1F165";

        return style;
    };

    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "Response Time", Data = new double[] { 40, 20, 30 } },
        new ChartSeries() { Name = "Time Spent At Scene", Data = new double[] { 19, 20, 25 } },
    };
    public string[] XAxisLabels = { "1207", "1208", "1209" };
    public string[] YAxisLabels = { "Response Time", "Time Spent At Scene" };

    ChartOptions options = new ChartOptions
    {
        DisableLegend = true
    };

    public class Element
    {
        public int Number { get; set; }
        public string Total { get; set; }
        public string Percentage { get; set; }
    }

    public class ElementNew
    {
        public int Number { get; set; }
        public string Priority { get; set; }
        public string Vehicles { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        for(int i =0; i < 15; i++)
        {
            Elements.Add(new Element()
            {
                Number = i,
                Percentage = ((i + 10)/5).ToString(),
                Total = (i + 5).ToString()
            });

            ElementsNew.Add(new ElementNew()
            {
                Number = i,
                Priority = $"P{i}",
                Vehicles = ( i+10 ).ToString()
            });
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initialize", null);
            StateHasChanged();
        }

    }
}
